*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
body{
    background-color: #ccc;
}
.container{
    max-width: 1124px;
    margin: auto;
    padding: 0 30px;
}